<div class="date">{{date}}</div>
<div class="transaction-type">{{d}}</div>
<div class="name">{{name}}</div>
<div class="sum">{{sum}}</div>
<div class="entry-edit-button"><a href="/chaplin/#edit-{{id}}"></a></div>
<div class="entry-delete-button"><a href="/chaplin/#delete-{{id}}"></a></div>
